<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enregistrement des stagess</title>
</head>
<body>
    <form th:action="@{/stageRegistryForm}" th:object="${stage}" method="POST">
       
        <input type="hidden" th:field="*{id}"> 

        <div>
            <label for="denom">Denom</label>
            <input type="text" name="denom" id="denom" th:field="*{denom}" placeholder="Entrer le nom du stage" required>
            <div th:if="${#fields.hasErrors('denom')}">
                <div th:errors="*{denom}"></div>
            </div>
        </div>

        <div>
            <label for="ageMin">Age Minimum </label>
            <input type="number" id="ageMin" th:field="*{ageMin}" required>
            <div th:if="${#fields.hasErrors('ageMin')}">
                <div th:errors="*{ageMin}"></div>
            </div>
        </div>

        <div>
            <label for="ageMax">Age Maximum </label>
            <input type="number" id="ageMax" th:field="*{ageMax}" required>
            <div th:if="${#fields.hasErrors('ageMax')}">
                <div th:errors="*{ageMax}"></div>
            </div>
        </div>

        <div>
            <label for="dateDeb">Date de debut</label>
            <input type="date" id="dateDeb" th:field="*{dateDeb}" required>
            <div th:if="${#fields.hasErrors('dateDeb')}">
                <div th:errors="*{dateDeb}"></div>
            </div>
        </div>

        <div>
            <label for="dateFin">Date de fin</label>
            <input type="date" id="dateFin" th:field="*{dateFin}" required>
            <div th:if="${#fields.hasErrors('dateFin')}">
                <div th:errors="*{dateFin}"></div>
            </div>
        </div>

        <button type="submit"> Enregistrer</button>
    </form>
</body>
</html>