form button{
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
    border-radius: 5px;
    border-color:transparent;
    border: .1px solid transparent;
    background-color:rgba(14, 151, 255, 0.73) ;
    color: white;
   
}

form button:hover{
    background: #ffffff;
    color: rgb(14, 150, 255);
    border: .1px solid rgb(14, 150, 255);
}

form label{
    color:rgb(28, 28, 28);
    font-family: "calibri light";
}

form{
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0px 0px 1px rgb(64, 64, 64);
    padding: 50px 50px 50px 50px;
    border-radius: 5px;
}

form .title{

    text-align: center;
    line-height: 1px;
}

form .title h3{
    text-transform: uppercase;
    color:rgb(14, 150, 255);
    font-family: "arial black";
    line-height: 1em;
    
}

form .title p{
    font-size: .8em;
    color: rgba(55, 55, 55, 0.792);
}

form .errors{
    color: rgb(255, 79, 79);
    font-size: .8em;
    display: flex;
}