*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

main{
    position: relative;
    padding-bottom: 50px;
}
main .bg{
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: .1;
}

/*              nav style             */

header .nav-stage .logo-group{

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "arial black";
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1em;
    transition: all .2s ease;
    border-radius: 5px;
}

header .nav-stage{

    padding: 10px;
    border-bottom: .5px solid silver;
}

header .nav-stage .logo-group:hover{
    opacity: .9;
}

header .nav-stage .logo-group:hover img{
    transform: rotate(-360deg);
}

header .nav-stage .logo-group span{
    margin: 0px 2px;
}

header .nav-stage .logo-group img{
    transition: all 1s ease;
}

header .nav-stage .logo-group .titre1{
    color:  rgba(37, 37, 37, 0.901);
}

header .nav-stage .logo-group .titre2{
    color: rgb(98, 177, 255);
}

header .nav-stage .list ul{
    list-style: none;
    display: flex;
    font-family: 'calibri light';
    margin:auto 0px;
}

header .nav-stage .list{
    display: flex;
    justify-content: end;
    align-items: center; 
  
}
header .nav-stage .list ul .link{

    text-decoration: none;
    color: rgba(0, 0, 0, 0.853);
    margin: 0px .2em;
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
   
}
header .nav-stage .list ul .link:hover{
    color: white;
    background:rgb(98, 176, 255);
}


@media only screen and (max-width:569px){
    header .nav-stage .list{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        
    }
    header .nav-stage .logo-group div{
        padding:0px 15px 8px 15px;
        border-bottom: 1px solid silver;
    }
    header .nav-stage .list ul .link{
        border: .5px solid silver;
    }
    header .nav-stage .list ul{
       
        padding: 0px;
    }

}


/*              nav style             */

/*                Banner              */

header .banner{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
   
}

header .banner .text{
    z-index: 1;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: white;
    text-align: center;
}

header .banner .text .titre{
    font-family: "arial black";
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: clamp(6vw , 5em , 1em);
    line-height: 5px;
}

header .banner .text p{
    font-size: clamp(1.5vw , .6em , 5em);
   
}

header .banner .text p::after{
    content: " | ";
    animation: cursor 1s linear 0s infinite alternate;
}

@keyframes cursor {
    0%{
        content: " ";
    }
    100%{
        content: " | ";
    }
    
}

header .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-50px);
    filter: blur(3px);
    animation: im 10s ease-in-out 0s infinite alternate;
}

@keyframes im {
    0%{
       transform: translateY(0px);
    }
   
    100%{
        transform: translateY(200px);
    }
    
}

header .banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(32, 32, 32, 0.66);
}

@media only screen and (max-width:569px){
    header .banner img{
      
        transform: scale(2);
    }
}


/*                Banner              */



/*              card style            */
.cardSection{
    position: relative;
    z-index: 0;
    max-width: 280px;
    background: white;
    border-radius: 8px;
    font-family: 'calibri', 'Courier New', Courier, monospace;
    box-shadow: 0px 0px 2px rgba(8, 8, 8, 0.156);
    transform: scale(.95);
    transition: transform .5s;
    transform: translateY(-50px);
    
}
.cardSection:hover{
    box-shadow: -10px 20px 0px rgba(0, 24, 45, 0.788);
    transform: scale(1);
    z-index: 10;
}
.cardSection:hover .imageContainer{
    background-color:rgba(38, 132, 255, 0.351);
   
}

.cardSection:hover .imageContainer img{
    transform: scale(1.5) translateY(20%);
}

.cardSection .imageContainer{
    
    width: 95%;
    min-height: 200px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color:transparent;
    transition: background .5s;
    cursor: pointer;
    
}


.cardSection .imageContainer img{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: transform .5s;
}

.cardSection .content{
   
    width: 95%;
    margin: 0px auto;
    margin: 0px auto;
    border-radius:8px ;
    padding: 10px;
    color: rgba(255, 255, 255, 0.668);
    background: rgb(98, 177, 255);
}

.cardSection .content h1{

    font-size: 1em;
    color:  rgb(98, 177, 255);
    font-family: "tw cen mt";
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px;
    background:  rgba(255, 255, 255, 0.948);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
   
}

.cardSection .content p{
    font-size: .8em;
    font-family: "calibri light";
    text-align: center;
}

.cardSection a{

    display: block;
    width: 95%;
    padding: 14px 0px;
    margin: auto 0px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    background: rgb(98, 177, 255);
    color: rgba(255, 255, 255, 0.76);
    border-radius: 5px;
    font-size: .8em;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border: .5px solid transparent;
   

}

.cardSection a:hover{

    transform: scale(.95);
    color: rgb(38, 132, 255);
    background: transparent;
    border: .5px solid rgb(38, 132, 255);
    
}

.section{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/*              card style            */

/*                footer              */


footer{
    padding: 10px 0px;
    color: silver;
    background: rgb(33, 33, 33);
}

footer a{
    color: white;
    font-family: "arial black";
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    transform: translateX(-10px);
    transition: color .5s ease;
}
footer a:hover{
    color: rgb(112, 112, 112);
}
footer small{
    font-size: .8em;
    opacity: .6;
  
}








/*                footer              */