*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

.cardSection{

    max-width: 250px;
    border: 1px solid  rgba(0, 0, 0, 0.481);
    border-radius: 8px;
    font-family: 'calibri', 'Courier New', Courier, monospace;

}

.cardSection .imageContainer{
    
    width: 95%;
    min-height: 200px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.cardSection .imageContainer img{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardSection .content{
   
    width: 95%;
    margin: 0px auto;
    border: 1px solid  rgba(0, 0, 0, 0.481);
    margin: 0px auto;
    border-radius:8px ;
    padding: 10px;
}

.cardSection .content h1{

    font-size: 1em;
    color: rgb(199, 123, 254);
    font-family: "tw cen mt";
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px;
    background:  rgba(188, 120, 255, 0.074);
    padding: 5px 10px;
    border-radius: 5px;
   
}

.cardSection .content p{
    font-size: .8em;
    font-family: "calibri light";
    text-align: center;
}

.cardSection a{

    display: block;
    width: 95%;
    padding: 14px 0px;
    margin: auto 0px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    background: rgb(32, 32, 32);
    color: rgba(255, 255, 255, 0.76);
    border-radius: 20px;
    font-size: .8em;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border: .5px solid transparent;
   

}

.cardSection a:hover{

    transform: scale(.95);
    color: rgb(199, 123, 254);
    background: transparent;
    border: .5px solid rgb(199, 123, 254);
    
}

.section{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
