<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/nav.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="icon" href="img/logo_dark.svg">
    <title>StageApp Home</title>
</head>
<body style="padding-top: 40px;">
   
     <div class="wrapper">
          <header>

               <nav class="nav-stage" style="position: fixed;top:0px;width: 100%; z-index: 100;background: white;">
                    <div class="container">
                         <div class="row">
                              <a th:href="@{/}" class="logo-group col-lg-2 col-sm-4 col-12">
                                   <div>
                                        <span><img src="img/logo_dark.svg" alt="logo" width="25" height="25"></span>
                                        <span class="titre1">Stage</span>
                                        <span class="titre2">App</span>
                                   </div>
                              </a>
               
                              <div class="list col-lg-10 col-sm-8 col-12" >
                                   <ul>
                                        <li><a th:href="@{/enfants}" class="link">Enfants</a></li>
                                        <li><a th:href="@{/stages}" class="link">Stages</a></li>
                                        <li><a th:href="@{/inscriptions}" class="link">Inscriptions</a></li>
                                        <li><a href="/file/Stages.docx" class="link">Docs</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </nav>
     
               <div class="banner">
                    <img src="/img/banner.jpg" alt="banner">
                    <div class="text">
                         <div class="content">
                              <span class="titre"> <span style="color: rgb(98, 176, 255);">Gestion</span> des Stages</span>
                              <p> Votre application de gestion des stages gratuit & Open source</p>
                         </div>
                    </div>
               </div>
     
          </header>
     
          <main>
               <img src="img/bg.jpg" alt="fond" class="bg">
               <div class="section">
     
                    <div class="cardSection">
                         <div class="imageContainer">
                              <img src="img/student.jpg" alt="enfantImage">
                         </div>
                         <div class="content">
                              <h1>Enfants</h1>
                              <p>Interface de gestion des élèves , ici vous pourez
                                 ajouter , modifier ou supprimer des enfants 
                              </p>
                         </div>
                         <a th:href="@{/enfants}"> Commencer</a>
                      </div>
              
                      <div class="cardSection">
                        <div class="imageContainer">
                             <img src="img/inscription.jpg" alt="enfantImage">
                        </div>
                        <div class="content">
                             <h1>Inscriptions</h1>
                             <p>Interface de gestion des inscriptions , ici vous pourez les
                                ajouter,modifier ou supprimer 
                             </p>
                        </div>
                        <a th:href="@{/inscriptions}"> Commencer</a>
                     </div>
              
                     <div class="cardSection">
                        <div class="imageContainer">
                             <img src="img/stage.jpg" alt="enfantImage">
                        </div>
                        <div class="content">
                             <h1>Stages</h1>
                             <p>Interface de gestion des stages , ici vous pourez
                                ajouter,modifier ou supprimer des stages
                             </p>
                        </div>
                        <a th:href="@{/stages}"> Commencer</a>
                     </div>
              
               </div>
          </main>
     
          <footer class="container-fluid">
               <div class="row">
                    <div class="col-12 d-flex justify-content-center ">
                         <div class="content d-flex justify-content-center flex-column  align-items-center">
                              <a th:href="@{/}" class="logo">
                                   <img src="img/logo_white.svg" alt="logo" width="25" height="25">
                                    <span> stageApp </span>
                              </a>
                              <small>
                                   Copyright © 2024
                              </small>
                         </div>
                    </div>
               </div>
          </footer>
     </div>
     
</body>
</html>